/*
Theme Name: Amadeus
Theme URI: http://themeisle.com/themes/amadeus
Author: Themeisle
Author URI: http://themeisle.com
Description: Amadeus is a responsive blog theme that features a modern and clean design. Features include: a parallax header image, Metaslider integration, ability to use Google Fonts, social icons, full color control, custom widgets and much more.
Version: 2.1.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amadeus
Tags: custom-colors, custom-background, custom-menu, custom-header, featured-images, editor-style, sticky-post, theme-options, threaded-comments, translation-ready
WordPress Available:  yes
Requires License:    no
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Amadeus is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc. 
*/
@font-face {
  font-family: 'Exo';
  src: url("./fonts/Exo-Medium.ttf") format("truetype"), url("./fonts/Exo-Medium.svg#Exo") format("svg");
  font-weight: 500;
}

@font-face {
  font-family: 'Exo';
  src: url("./fonts/Exo-Bold.ttf") format("truetype"), url("./fonts/Exo-Bold.svg#Exo") format("svg");
  font-weight: 700;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("./fonts/MyriadPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.d-none {
	display:none;
}

#wrapper {
	-webkit-background-size: 95%;
	background-size: 95%;
	min-height: 100%;
	margin-bottom: -60px;
	padding-bottom: 5em;
}

#header {
	position: relative;
	width: 100%;
	height: 220px;
	background: url("./images/header-bg.png") 30% 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
}

#logo {
	position: relative;
	left: 30%;
	margin-left: -10em;
	top: 1em;
	display: block;
	float: left;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
  }
  #logo:hover img {
	-webkit-filter: drop-shadow(0 0 20px black);
	filter: drop-shadow(0 0 20px black);
	-webkit-filter: brightness(1.4);
	-moz-filter: brightness(1.4);
	filter: brightness(1.4);
  }
  a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

  #top-menu {
	position: relative;
	display: inline-block;
	padding-top: 1.5em;
	margin-left: 30%;
  }
  #top-menu li {
	position: relative;
	display: inline-block;
	z-index: 10;
	font-family: 'MyriadPro', sans-serif;
  }
  #top-menu li:not(:last-child) {
	margin-right: 0.5em;
  }
  #top-menu li:nth-child(1) a:before {
	background-position: 0px 0;
  }
  #top-menu li:nth-child(1) a:hover:before {
	background-position: 0px -38px;
  }
  #top-menu li:nth-child(1).menu-item-type-post_type a:before {
	background-position: 0px -38px;
  }
  #top-menu li:nth-child(2) a:before {
	background-position: -38px 0;
  }
  #top-menu li:nth-child(2) a:hover:before {
	background-position: -38px -38px;
  }
  #top-menu li:nth-child(2).menu-item-type-post_type a:before {
	background-position: -38px -38px;
  }
  #top-menu li:nth-child(3) a:before {
	background-position: -76px 0;
  }
  #top-menu li:nth-child(3) a:hover:before {
	background-position: -76px -38px;
  }
  #top-menu li:nth-child(3).menu-item-type-post_type a:before {
	background-position: -76px -38px;
  }
  #top-menu li:nth-child(4) a:before {
	background-position: -152px 0;
  }
  #top-menu li:nth-child(4) a:hover:before {
	background-position: -152px -38px;
  }
  #top-menu li:nth-child(4).menu-item-type-post_type a:before {
	background-position: -152px -38px;
  }
  #top-menu li:nth-child(5) a:before {
	background-position: -114px 0;
  }
  #top-menu li:nth-child(5) a:hover:before {
	background-position: -114px -38px;
  }
  #top-menu li:nth-child(5).menu-item-type-post_type a:before {
	background-position: -114px -38px;
  }
  #top-menu li.menu-item-type-post_type a {
	color: #fff200;
  }
  #top-menu li.menu-item-type-post_type:before {
	content: "";
	display: block;
	position: absolute;
	top: -1.5em;
	left: -10%;
	width: 115px;
	height: 115px;
	background: url("./images/menu-shape.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	z-index: -1;
  }
  #top-menu a {
	text-align: center;
	display: block;
	height: 100%;
	color: #17a3f8;
	min-width: 96px;
  }
  #top-menu a:hover {
	color: #fff200;
  }
  #top-menu a:before {
	content: "";
	display: block;
	margin: 0 auto;
	width: 38px;
	height: 38px;
	background: url("./images/menu-sprites.png") no-repeat;
  }

  #footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: url("./images/footer-bg.png") 50% 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
  }
  #footer p {
	color: #add7ff;
	height: 100%;
	line-height: 60px;
	vertical-align: middle;
  }
  #footer em {
	color: #fff;
  }
  #footer span {
	margin-left: 8em;
  }
  #footer .sky-hide-desktop-footer,.emergency-mobile,.sky-blog-button {
    display: none
}

#footer .sky-hide-mobile-footer {
	display: block;
	margin:0;
}

body {
	background-position: top;
	background: url('./images/background.jpg') 50% top no-repeat;
	background-attachment: fixed;
	background-color: #000;
	min-width: 760px;
	font-size: 16px;
	font-family: 'Exo', sans-serif;
	font-weight: 500;
	line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #1c1c1c;
	font-weight: 700;
}

h3 {
	font-size: 
}
h1 {
	font-size: 38px;
}
a,
a:hover {
	color: #618eba;
	text-decoration:none;
}

.bypostauthor {
	display: block;
}


/*--------------------------------------------------------------
Tables
--------------------------------------------------------------*/

table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #e0e0e0;
}
th {
	background-color: #f5f5f5;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	padding: 10px;
	line-height: 1.42857143;
	vertical-align: top;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	border: 1px solid #ddd;
}


/*--------------------------------------------------------------
Forms
--------------------------------------------------------------*/

button,
input,
select,
textarea {
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 15px;
	border: 0;
	color: #fff;
	background-color: #618eba;
	font-weight: 700;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-transition: all 0.3s;
	transition: all 0.3s;

	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
}
input[type="submit"] {
	margin-top: 5px;
}
button:hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	color: #fff;
	background-color: #17191b;
	text-decoration: none;
}

.search-submit {
	background-color: #00182c !important;
}

.search-submit:hover {
	color: #fcef00 !important;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	-webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	box-sizing: content-box;

	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration {
	/* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	/* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	width: 100%;
	border-radius: 3px;
	color: #7ab3e9;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #7ab3e9;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 14px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	width: 100%;
	padding-left: 8px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
}


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}
.menu-above {
	border-top: 0;
}
.main-navigation ul {
	margin: 0;
	padding-left: 0;
	text-align: center;
	list-style: none;
}

.main-navigation li {
	display: inline-block;
	position: relative;
	padding: 15px;
	border-right: 1px solid #e0e0e0;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}
.main-navigation li:last-of-type {
	border-right: 0;
}
.main-navigation a {
	display: block;
	color: #1c1c1c;
	text-decoration: none;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.main-navigation a:hover {
	color: #618eba;
}

.main-navigation ul ul {
	float: left;
	position: absolute;
	z-index: 99999;
	top: 100%;
	left: -999em;
}
.main-navigation ul ul::before {
	display: block;
	height: 10px;
	margin-left: 10px;
	color: #1c1c1c;
	font-family: Fontawesome;
	font-size: 28px;
	line-height: 1;
	text-align: left;
	content: "\f0de";
}
.main-navigation ul ul ul::before {
	height: 0;
	content: "";
}
.main-navigation ul ul ul {
	top: 0;
	left: -999em;
}

.main-navigation ul ul a {
	width: 200px;
	color: #fff !important;
}

.main-navigation ul ul li {
	border-right: 0;
	border-bottom: 1px solid #2f2f2f;
	background-color: #1c1c1c;
	font-weight: 400;
	text-align: left;
	text-transform: none;
}
.main-navigation ul ul li:last-of-type {
	border-bottom: 0;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

/* Menu icons */
.main-navigation li::before {
	margin-right: 5px;
	color: #1e262d;
	font-family: Fontawesome;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
.slicknav_nav li:hover {
	background-color: transparent;
}
.slicknav_nav li::before {
	display: none;
}
.main-navigation a {
	display: inline-block;
}
.main-navigation ul ul a {
	float: none;
}
.main-navigation ul ul li::before {
	content: "";
}

/* Posts nav */
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	overflow: hidden;
	margin: 0 0 45px;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	max-width: 50%;
	padding: 15px;
	background: rgb(0,31,59);
    background: linear-gradient(40deg, rgba(0,31,59,1) 0%, rgba(0,21,36,1) 100%);
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	max-width: 50%;
	padding: 15px;
	background: rgb(0,31,59);
    background: linear-gradient(40deg, rgba(0,31,59,1) 0%, rgba(0,21,36,1) 100%);
	text-align: right;
}
.nav-next a,
.nav-previous a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}
.nav-next a:hover,
.nav-previous a:hover {
	color: #fcef00;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	width: 1px;
	height: 1px;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	display: block;
	clip: auto !important;
	z-index: 100000; /* Above WP toolbar. */
	top: 5px;
	left: 5px;
	width: auto;
	height: auto;
	padding: 15px 23px 14px;
	border-radius: 3px;
	color: #21759b;
	background-color: #f1f1f1;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: normal;
	text-decoration: none;
}


/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	display: block;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}


/*--------------------------------------------------------------
# Social Menu
--------------------------------------------------------------*/

.social-navigation {
	padding: 10px 0;
	border-bottom: 1px solid #e0e0e0;
}
.social-navigation ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
.social-navigation li {
	display: inline-block;
	position: relative;
	line-height: 1;
	list-style: none;
}
.menu-social-container {
	overflow: hidden;
}
.social-navigation li a {
	display: block;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.social-navigation li a::before {
	display: block;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-color: #1c1c1c;
	font-family: FontAwesome;
	font-size: 18px;
	line-height: 34px;
}
.social-navigation li a:hover {
	color: #618eba;
}
.social-navigation li a[href*="twitter.com"]::before {
	content: "\f099";
}
.social-navigation li a[href*="facebook.com"]::before {
	content: "\f09a";
}
.social-navigation li a[href*="plus.google.com"]::before {
	content: "\f0d5";
}
.social-navigation li a[href*="dribbble.com"]::before {
	content: "\f17d";
}
.social-navigation li a[href*="pinterest.com"]::before {
	content: "\f0d2";
}
.social-navigation li a[href*="youtube.com"]::before {
	content: "\f167";
}
.social-navigation li a[href*="flickr.com"]::before {
	content: "\f16e";
}
.social-navigation li a[href*="vimeo.com"]::before {
	content: "\f194";
}
.social-navigation li a[href*="instagram.com"]::before {
	content: "\f16d";
}
.social-navigation li a[href*="linkedin.com"]::before {
	content: "\f0e1";
}
.social-navigation li a[href*="foursquare.com"]::before {
	content: "\f180";
}
.social-navigation li a[href*="tumblr.com"]::before {
	content: "\f173";
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.widget-area .widget {
	margin: 0 0 45px;
	padding: 30px;
	background: rgb(0,31,59);
background: linear-gradient(40deg, rgba(0,31,59,1) 0%, rgba(0,21,36,1) 100%);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}
.widget a {
	color: white;
	text-decoration: none;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
.widget a:hover {
	color: #fcef00;
}
.widget ul {
	padding: 0 0 0 20px;
}
.widget li {
	padding-top: 2px;
	padding-bottom: 2px;
	color: #7ab3e9;
}
.widget .children {
	padding-left: 30px;
}
.widget-area .widget-title {
	position: relative;
	margin: 0 0 15px;
	padding-bottom: 15px;
	color: #7ab3e9;
}
.widget-area .widget-title::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 2px;
	background-color: #fcef00;
	content: "";
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

.search-field {
	-webkit-box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
	box-shadow: inset 0px 2px 4px rgba(0,0,0,.5);
	background: rgba(13,49,85,.1);
	border: none;
	color: #fcef00 !important;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* Footer widget area */
.footer-widget-area {
	padding: 30px 0 40px;
	border-top: 1px solid #e0e0e0;
	background-color: #fff;
}
.footer-widget-area .widget {
	margin: 15px 0;
}
.footer-widget-area .widget-title {
	margin: 0 0 30px;
}

/* Default widgets */
.widget_recent_entries ul,
.widget_archive ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_categories ul {
	padding: 0;
	list-style: none;
}
.widget_recent_entries li::before,
.widget_archive li::before,
.widget_pages li::before,
.widget_recent_comments li::before,
.widget_categories li::before {
	font-family: Fontawesome;
	font-size: 15px;
	color: #7ab3e9;
}
.widget_recent_entries li::before {
	margin-right: 5px;
	content: "\f040";
}
.widget_archive li::before {
	margin-right: 8px;
	content: "\f133";
}
.widget_pages li::before {
	margin-right: 8px;
	content: "\f016";
}
.widget_recent_comments li::before {
	margin-right: 8px;
	content: "\f0e5";
}
.widget_categories li::before {
	margin-right: 8px;
	content: "\f114";
}
.tagcloud a {
	display: inline-block;
	margin-right: 4px;
	margin-bottom: 8px;
	padding: 5px;
	box-shadow: 0px 2px 0px #7ab3e9;
	font-size: 13px !important;
	transition: all 0.2s ease-out;
}
.tagcloud a:hover {
	box-shadow: 0px 0px 0px #7ab3e9;
	transform: translateY(2px);
}
.amadeus_recent_posts_widget ul,
.amadeus_recent_comments ul {
	padding: 0;
	list-style: none;
}
.recent-comment img {
	float: left;
	margin-right: 15px;
}
.amadeus_recent_posts_widget .recent-thumb {
	padding-left: 0;
}
.amadeus_recent_posts_widget .col-md-9,
.amadeus_recent_posts_widget .col-md-12 {
	padding: 0;
}
.amadeus_recent_posts_widget .post-date,
.widget_recent_entries .post-date {
	color: #9d9d9d;
	font-size: 12px;
}
.amadeus_recent_posts_widget h4 {
	margin: 0 0 8px;
}
.amadeus_recent_comments .list-group-item,
.amadeus_recent_posts_widget .list-group-item {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eaeaea;
}
.amadeus_recent_comments .list-group-item:last-of-type,
.amadeus_recent_posts_widget .list-group-item:last-of-type {
	border-bottom: 0;
}

/* About me widget */
.amadeus_about {
	margin-top: 90px !important;
}
.photo-wrapper {
	display: table;
	margin: -120px auto 30px;
	padding: 5px;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	background-color: #fff;
}
.photo-wrapper img {
	max-height: 180px;
	border-radius: 50%;
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
	display: block;
}

.hentry {
	padding-top: 45px;
	margin: 0 0 45px;
	background: rgb(0,31,59);
background: linear-gradient(40deg, rgba(0,31,59,1) 0%, rgba(0,21,36,1) 100%);

}
.post-inner {
	padding: 45px;
}
.updated:not(.published) {
	display: none;
}
.page .hentry {
	padding: 45px;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.entry-summary p {
	color: white;
}
.entry-content p {
	color: #fff;
}
.entry-content .more-link {
	padding: 10px 0;
	display: block;
}
.entry-meta .posted-on:after,
.entry-meta .author:after {
	margin: 0 15px;
	content: "/";
}
.entry-meta .author {
	margin-left: -2px;
}
.entry-meta,
.entry-meta a,
.entry-footer,
.entry-footer a {
	color: #8ac9ff;
	
	font-size: 15px;
	text-decoration: none;
}
.entry-meta a,
.entry-footer a {
	-webkit-transition: color 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.entry-meta a:hover,
.entry-footer a:hover {
	color: #fff200;
	text-decoration:none;
}
.entry-footer {
	clear: left;
	margin-top: 20px;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.entry-header {
	margin-bottom: 30px;
}
.entry-title {
	color: #7ab3e9;
	margin: 0 0 20px;
}
.entry-title a {
	color: #7ab3e9;
	text-decoration: none;
	-webkit-transition: color 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.entry-title a:hover {
	color: #d7f200;
}
.single-thumb,
.entry-thumb {
	position: relative;
	text-align: center;
}
.entry-thumb-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: #618eba;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.entry-thumb:hover .entry-thumb-inner {
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	opacity: 0.6;
}
.thumb-icon {
	position: absolute;
	top: 42%;
	left: 46%;
	opacity: 0;
	font-size: 56px;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.thumb-icon,
.thumb-icon:hover {
	color: #fff;
}
.entry-thumb:hover .thumb-icon {
	opacity: 1;
}
.page-header {
	margin: 0 0 45px;
	padding: 0;
	border: 0;
}
.page-title {
	color: #7ab3e9;
	margin: 0;
	padding: 30px;
	background: rgb(0,0,4);
background: linear-gradient(40deg, rgba(0,0,4,1) 0%, rgba(11,13,26,1) 7%, rgba(27,40,58,1) 18%, rgba(0,30,58,1) 19%, rgba(5,44,61,1) 44%, rgba(0,0,0,1) 100%);
}


/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comments-area {
	margin-bottom: 60px;
}
.comments-title {
	margin: 0;
	padding: 30px;
	border-bottom: 1px solid #e0e0e0;
	background-color: #fff;
	font-size: 24px;
}
.comments-area ol {
	list-style: none;
}
.comments-area ol {
	padding: 0;
}
.comments-area .comment-content ol {
	padding-left: 35px;
	list-style: decimal;
}
.comments-area .children {
	padding-left: 20px;
}

.comment-author .avatar {
	position: absolute;
}
.comment-author .fn,
.comment-metadata {
	margin-left: 80px;
}
.comment-metadata {
	margin-bottom: 30px;
	font-size: 12px;
}
.comment-body {
	margin-bottom: 15px;
	padding: 30px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
}
.reply {
	text-align: right;
}
.comment-reply-link {
	padding: 5px;
	background-color: #fff;
	font-size: 12px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
a.comment-reply-link {
	text-decoration: none;
}
a.comment-reply-link:hover {
	color: #000;
	-webkit-box-shadow: 0 0 1px #505050;
	box-shadow: 0 0 1px #505050;
}
.comments-area a.url {
	text-decoration: underline;
}
.comment-metadata a,
.comments-area a.url {
	color: #444;
}

.comment-respond {
	margin-top: 60px;
}
.comment-form .form-submit {
	margin-top: 30px;
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
/* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}


/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: none;
}

.page-content p {
	color: white;
}

.search-submit {
	background-color: #7ab3e9;
}

.page-content form label {
	background: rgb(0,31,59);
    background: linear-gradient(40deg, rgba(0,31,59,1) 0%, rgba(0,21,36,1) 100%);
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}
img {
	max-width: 100%; /* Adhere to container width. */
	height: auto; /* Make sure images are scaled correctly. */
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
	max-width: 100%;
	margin-bottom: 1.5em;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	width: 100%;
	text-align: center;
	vertical-align: top;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/*--------------------------------------------------------------
## Metaslider integration
--------------------------------------------------------------*/

.header-slider {
	overflow: hidden;
}
.flex-direction-nav a {
	overflow: hidden;
	width: 40px !important;
	height: 40px !important;
	color: #fff;
	background: none !important;
	text-decoration: none;
	text-indent: 0 !important;
}
.flex-prev::before {
	margin-left: 20px;
	font-family: Fontawesome;
	font-size: 40px;
	content: "\f104";
}
.flex-next::before {
	margin-right: 20px;
	font-family: Fontawesome;
	font-size: 40px;
	content: "\f105";
}
.metaslider .caption-wrap {
	top: 0;
	bottom: auto !important;
	padding: 25px 15px;
	color: #fff !important;
	font-size: 18px;
	text-align: center;
}


/*--------------------------------------------------------------
## Mobile menu
--------------------------------------------------------------*/

.slicknav_menu  .slicknav_menutxt {
	display: block;
	font-size: 30px;
}
.slicknav_menu .slicknav_icon {
	display: none;
}
.slicknav_menu .slicknav_no-text {
	margin: 0;
}
.slicknav_menu .slicknav_icon-bar {
	display: block;
	width: 1.125em;
	height: 0.125em;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
	margin-top: 0.188em;
}
.slicknav_nav {
	clear: both;
}
.slicknav_nav ul,
.slicknav_nav li {
	display: block;
	border: 0;
}
.slicknav_nav .slicknav_arrow {
	margin: 0 0 0 0.4em;
	font-size: 0.8em;
}
.slicknav_nav .slicknav_item {
	cursor: pointer;
}
.slicknav_nav .slicknav_row {
	display: block;
}
.slicknav_nav a {
	display: block;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
	display: inline;
}
.slicknav_menu:before,
.slicknav_menu:after {
	display: table;
	content: " ";
}
.slicknav_menu:after {
	clear: both;
}

/* IE6/7 support */
.slicknav_menu {
	*zoom: 1;
}

.mobile-nav {
	display: none;
}

/* Button */
.slicknav_btn {
	display: block;
	margin: 5px 5px 6px;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	text-decoration: none;
}

/* Button Text */
.slicknav_menu  .slicknav_menutxt {
	color: #fff;
	text-shadow: 0 1px 3px #000;
	font-weight: bold;
}

/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
	background-color: #f5f5f5;
}
.slicknav_menu {
	text-align: center;
}
.slicknav_nav {
	margin: 0;
	padding: 0;
	color: #fff;
}
.slicknav_nav,
.slicknav_nav ul {
	overflow: hidden;
	list-style: none;
}
.slicknav_nav {
	position: absolute;
	z-index: 999;
	left: 0;
	width: 100%;
	background-color: #1c1c1c;
}
.slicknav_nav ul {
	margin: 0;
	padding: 0;
}
.slicknav_nav .slicknav_row {
	margin: 2px 5px;
	padding: 5px 10px;
}
.slicknav_nav a {
	margin: 2px 5px;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
	margin: 0;
	padding: 0;
}
.slicknav_nav .slicknav_row:hover {
	color: #fff;
}
.slicknav_nav .slicknav_txtnode {
	margin-left: 15px;
}


/*--------------------------------------------------------------
## Structure
--------------------------------------------------------------*/

.site-header {
	background-color: #fff;
	text-align: center;
}
.site-branding {
	padding: 60px 0;
}
.site-logo {
	width: 100%;
	max-width: 200px;
}
.show-title {
	margin-bottom: 15px;
}
.site-title {
	margin: 0;
	font-size: 62px;
}
.site-title a {
	color: #1c1c1c;
	text-decoration: none;
}
.site-description {
	margin: 30px 0 0;
	color: #767676;
	font-family: "Noto Serif", serif;
	font-size: 18px;
	font-weight: 400;
}
.header-image {
	position: relative;
	height: 300px;
	border-bottom: 1px solid #e0e0e0;
}
.header-scroll {
	position: absolute;
	top: 35%;
	width: 100%;
	font-size: 90px;
	text-align: center;
	-webkit-animation: scroll-anim 1s infinite;
	animation: scroll-anim 1s infinite;
}
@-webkit-keyframes scroll-anim {
	0% {
		top: 35%;
	}
	100% {
		top: 40%;
	}
}
@keyframes scroll-anim {
	0% {
		top: 35%;
	}
	100% {
		top: 40%;
	}
}
.scroll-icon,
.scroll-icon:hover {
	color: #fff;
}
.scroll-icon {
	text-shadow: 0 0 1px #1c1c1c;
}
.content-area {
	float: left;
	width: 740px;
}
.fullwidth {
	width: 100%;
}
.widget-area {
	float: right;
	width: 360px;
}
.site-content {
	margin-top: 60px;
}
.site-footer {
	position: relative;
	padding: 40px 0 30px;
	border-top: 1px solid #e0e0e0;
	background-color: #fff;
	font-size: 14px;
	text-align: center;
}
.site-footer,
.site-footer a {
	color: #4c4c4c;
}
.scroll-container {
	position: absolute;
	top: -25px;
	width: 100%;
	text-align: center;
}
.scroll-container a {
	display: inline-block;
	width: 50px;
	height: 50px;
	padding: 10px;
	border: 1px solid #1c1c1c;
	border-radius: 50%;
	background-color: #fff;
	font-size: 24px;
	line-height: 1;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.scroll-container a:hover {
	color: #fff;
	background-color: #1c1c1c;
}

/* 404 page */
.error404 .content-area {
	width: 100%;
	margin-bottom: 45px;
	text-align: center;
}


/*--------------------------------------------------------------
## The Nivo Slider styles
--------------------------------------------------------------*/

.nivoSlider {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: auto;
}
.nivoSlider img {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	max-width: none !important;
}
.nivo-main-image {
	display: block !important;
	position: relative !important;
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	display: none;
	position: absolute;
	z-index: 6;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	opacity: 0;
	background: white;

	filter: alpha(opacity=0);
}

/* The slices and boxes in the Slider */
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	top: 0;
	height: 100%;
}
.nivo-box {
	display: block;
	overflow: hidden;
	position: absolute;
	z-index: 5;
}
.nivo-box img {
	display: block;
}

/* Caption styles */
.nivo-caption {
	display: none;
	overflow: hidden;
	position: absolute;
	z-index: 8;
	bottom: 0;
	left: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	width: 100%;
	padding: 5px 10px;
	opacity: 0.8;
	color: #fff;
	background: #000;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=8);
	-moz-opacity: 0.8;
}
.nivo-caption p {
	margin: 0;
	padding: 5px;
}
.nivo-caption a {
	display: inline !important;
}
.nivo-html-caption {
	display: none;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position: absolute;
	z-index: 9;
	top: 45%;
	cursor: pointer;
}
.nivo-prevNav {
	left: 0;
}
.nivo-nextNav {
	right: 0;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	padding: 15px 0;
	text-align: center;
}
.nivo-controlNav a {
	cursor: pointer;
}
.nivo-controlNav a.active {
	font-weight: bold;
}


/*--------------------------------------------------------------
## The Nivo Slider Plugin
--------------------------------------------------------------*/

.nivo-caption {
	display: block !important;
	top: 0 !important;
	bottom: auto !important;
	left: 0 !important;
	width: 100% !important;
	padding: 25px 15px !important;
	opacity: 0.7 !important;
	font-family: "Noto Serif", serif !important;
	font-size: 18px !important;
	line-height: 1.4em !important;
	text-align: center !important;
}

.theme-default .nivoSlider {
	margin-bottom: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.nivo-controlNav a {
	display: inline-block !important;
	width: 11px !important;
	height: 11px !important;
	margin: 0 6px !important;
	border-radius: 20px !important;
	background: #666 !important;
	background: rgba(0,0,0,0.5) !important;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3) !important;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3) !important;
	text-indent: -9999px !important;
	cursor: pointer !important;
}

.nivo-controlNav a.active {
	background: rgba(0,0,0,0.9) !important;
}

.nivo-directionNav a {
	width: 45px;
	height: 45px;
	padding: 0;
	border: 1px solid #1c1c1c;
	border-radius: 50%;
	color: #1c1c1c;
	background: #fff;
	font-size: 12px;
	line-height: 45px;
	text-align: center;
}

.nivo-directionNav a:hover {
	opacity: 0.8;
	text-decoration: none;
}

.nivo-directionNav a.nivo-prevNav {
	margin-left: 20px;
}

.nivo-directionNav a.nivo-nextNav {
	margin-right: 20px;
}

.theme-default .nivo-directionNav a,
.theme-light .nivo-directionNav a,
.theme-dark .nivo-directionNav a {
	color: transparent !important;
	background: none !important;
	-webkit-transition: all 0.3s !important;
	transition: all 0.3s !important;
}

.theme-light .nivo-directionNav a,
.theme-dark .nivo-directionNav a {
	height: 25px !important;
}

.theme-default .nivo-directionNav a:before {
	color: #fff !important;
	font-family: Fontawesome !important;
	font-size: 40px !important;
}

.theme-default .nivo-directionNav a.nivo-prevNav:before,
.theme-light .nivo-directionNav a.nivo-prevNav:before {
	float: left !important;
	text-indent: 0;
	content: "\f104" !important;
}

.theme-default .nivo-directionNav a.nivo-prevNav {
	left: -40px;
}

.theme-default:hover .nivo-directionNav a.nivo-prevNav {
	left: 20px;
	margin-left: 0;
}

.theme-default .nivo-directionNav a.nivo-nextNav:before {
	float: right !important;
	text-indent: 0;
	content: "\f105" !important;
}

.theme-default .nivo-directionNav a.nivo-nextNav {
	right: -40px;
}

.theme-default:hover .nivo-directionNav a.nivo-nextNav {
	right: 20px;
	margin-right: 0;
}

.theme-light .nivo-directionNav a:before,
.theme-dark .nivo-directionNav a:before {
	color: rgba(0,0,0,0.5) !important;
	font-family: Fontawesome !important;
	font-size: 35px !important;
	line-height: 30px;
}

.theme-dark .nivo-directionNav a:before {
	color: #fff !important;
}

.theme-light .nivo-directionNav a.nivo-prevNav:before,
.theme-dark .nivo-directionNav a.nivo-prevNav:before {
	float: left !important;
	width: 100%;
	text-align: center;
	text-indent: 0;
	content: "\f104" !important;
}

.theme-light .nivo-directionNav a.nivo-nextNav:before,
.theme-dark .nivo-directionNav a.nivo-nextNav:before {
	float: right !important;
	width: 100%;
	text-align: center;
	text-indent: 0;
	content: "\f105" !important;
}

.theme-light .nivo-controlNav a {
	margin-top: 10px !important;
}

.theme-dark .nivo-controlNav a {
	margin-top: 12px !important;
	background: rgba(255, 255, 255, 0.5) !important;
}

.theme-dark a.nivo-prevNav,
.theme-dark a.nivo-nextNav,
.theme-light a.nivo-prevNav,
.theme-light a.nivo-nextNav {
	margin: 0 !important;
}

.theme-bar .nivo-controlNav {
	padding-top: 10px;
	border: none;
	background: #565656;
}

.theme-bar .nivo-directionNav a {
	width: auto;
	height: auto;
	margin: 0;
	margin-bottom: 0 !important;
	background: none !important;
	line-height: 5px !important;
	text-decoration: none !important;
}

.theme-bar .nivo-controlNav {
	padding: 10px !important;
	border: none !important;
	background: rgba(0, 0, 0, 0.5) !important;
}

.theme-bar .nivo-controlNav a {
	background: rgba(255, 255, 255, 0.5) !important;
}

.theme-bar .nivo-controlNav a.active {
	background: #fff !important;
}

@media only screen and (max-width: 768px) {
	.site-main > ul {
		padding-inline-start: 0px;
	}
	#menu-header-navigation {
		padding-inline-start: 0px;
	}
	#top-menu li.menu-item-type-post_type:before {
		content: "";
		display: block;
		position: absolute;
		top: -1.5em;
		left: -10%;
		width: 115px;
		height: 115px;
		background: none;
		-webkit-background-size: 100%;
		background-size: 100%;
		z-index: -1;
	}
	.nivo-caption {
		display: none !important;
	}
	.nivo-directionNav a {
		top: 30%;
	}
	.theme-default .nivo-directionNav a.nivo-nextNav {
		right: 0;
		opacity: 1;
	}
	.theme-default .nivo-directionNav a.nivo-prevNav {
		left: 0;
		opacity: 1;
	}
}


/*--------------------------------------------------------------
## Responsive
--------------------------------------------------------------*/

@media only screen and (max-width: 1199px) {
	.content-area {
		float: left;
		width: 540px;
	}
}
@media (max-width: 1024px) {
	.main-navigation {
		display: none;
	}
	.mobile-nav {
		display: block;
		background-color: #1c1c1c;
	}
}
@media only screen and (max-width: 1024px) {
	.header-image {
		background-attachment: scroll !important;
		background-position: center !important;
	}
}
@media only screen and (max-width: 991px) {
	.content-area,
	.widget-area {
		width: 100%;
	}
}
@media only screen and (max-width: 600px) {
	.post-inner {
		padding: 15px;
	}
	h1 {
		font-size: 28px;
	}
	.entry-header {
		margin-bottom: 15px;
	}
	.site-title {
		font-size: 42px !important;
	}
	.site-description {
		font-size: 16px !important;
	}
	.entry-meta,
	.entry-footer {
		font-size: 13px;
	}
	.entry-meta .posted-on:after,
	.entry-meta .author:after {
		margin: 0 5px;
	}
	.entry-meta span {
		display: inline-block;
	}
}
@media only screen and (max-width: 320px) {
	.site-content,
	.footer-widget-area .container {
		padding: 0;
	}
	.hentry,
	.widget-area .widget {
		margin-bottom: 30px;
	}
	.site-title {
		font-size: 32px !important;
	}
	.site-description {
		font-size: 14px !important;
	}
}
@media only screen and (max-width: 1200px) {
    #offer-details {
        left:35%
    }

    #submenu {
        right: 65%
    }

    #categories li {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }

    #categories li:first-child {
        margin-right: 1em
    }

    .folding-box {
        top: 65%
    }

    #left-box,#right-box {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }

    #left-box {
        left: -235px
    }

    #right-box {
        right: -240px
    }
}

@media only screen and (max-width: 1024px) {
    #categories li {
        top:0!important;
        margin: 0 -1.5em!important;
        -webkit-transform: scale(.7);
        transform: scale(.7)
    }

    #home-offer-menu li {
        -webkit-transform: scale(.7);
        transform: scale(.7);
        margin: 0 -2.2em
    }

    #home-offer-menu li:hover {
        -webkit-transform: scale(.7);
        transform: scale(.7)
    }
}

#map-canvas {
    margin-top: -200px
}

@media all and (max-width: 1200px) {
    #contact-data {
        width:100%!important;
        margin: 0 auto;
        padding-bottom: 800px;
        margin-top: 200px!important
    }

    #new-formularz {
        margin-left: 120px;
        top: 550px;
        left: 0;
        right: 0;
        position: relative
    }

    #rezerwacja-left {
        margin-left: 60px;
        margin-right: auto!important;
        width: 96%
    }
}

span.sent {
    position: absolute;
    margin-left: 0
}

@media only screen and (max-width: 991px) {
    .number,.sky-blog-button a:hover {
        color:#fff200
    }

    .emergency-mobile .box-name,.offer-name {
        font-family: Exo;
        font-weight: 700;
        font-size: 1.1em
    }

    .clock-text {
        line-height: 1.6
    }

    #footer .sky-hide-desktop-footer {
        display: block
    }

    #categories,#footer .sky-hide-mobile-footer,#offer-details,#submenu,.sky-normalize-it {
        display: none
    }

    .wrapper2 {
        min-height: 80%!important
    }

    .sky-reverse-it #wrapper {
        margin-bottom: -80px
    }

    #map-canvas {
        margin-top: 0
    }

    .clock {
        position: relative;
        top: 26px;
        left: 12px
    }

    .phone,.picker {
        top: 22px
    }

    .mail,.phone,.picker {
        left: 15px;
        position: relative
    }

    .sky-reverse-it {
        display: block
    }

    .mail {
        top: 17px
    }

    .sky-contact-text {
        display: block;
        position: relative;
        text-align: center;
        width: 320px;
        margin: 0 auto
    }

    .sky-contact-text .h1-yellow {
        position: relative;
        top: 0;
        left: 0
    }

    #contact-data,#newcontact {
        display: none
    }

    .sky-blog-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 400px;
        height: 50px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #061f3e;
        border: 1px solid #061f3e;
        position: relative;
        top: 0;
        margin: 40px auto 20px;
        -webkit-transition: all .3s;
        transition: all .3s
    }

    .sky-blog-button-mar {
        margin: 40px auto
    }

    .sky-blog-button:hover {
        background: 0 0;
        border: 1px solid #fff200
    }

    .sky-blog-button a {
        -webkit-transition: all .3s;
        transition: all .3s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .box-name {
        -webkit-transition: all .3s;
        transition: all .3s
    }

    .box-name:hover em {
        color: #fff
    }

    .box-name:hover,.offer-name {
        color: #fff200
    }

    .emergency-mobile .box-name {
        position: relative;
        top: 0;
        text-transform: uppercase;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        text-align: center;
        display: block
    }

    .emergency-mobile .box-content-wrapper {
        text-align: center;
        margin-top: .5em
    }

    .emergency-mobile {
        display: block;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center
    }

    #footer span,#submenu ul {
        display: -webkit-box;
        display: -ms-flexbox
    }

    #left-box,#right-box {
        display: none
    }

    #slider {
        display: none!important;
        -webkit-transform: scale(.95);
        transform: scale(.95)
    }

    #submenu ul {
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    #home-offer-menu {
        text-align: center;
        width: 400px;
        margin: 0 auto
    }

    .folding-box {
        top: 65%
    }

    #footer span {
        margin-left: 0;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 50px;
        position: relative
    }

    #footer {
        height: 120px
    }

    #slider img {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-left: 0
    }

    #footer p {
        height: 100px;
        line-height: 40px;
        width: 300px;
        display: block;
        margin: 0 auto
    }

    body {
        min-width: 100%
    }

    #new-formularz {
        top: 640px;
        left: 0;
        right: 0!important;
        margin: 0 auto;
        position: relative
    }

    #newcontact {
        right: 10%
    }

    #home-offer-menu li {
        -webkit-transform: scale(.9);
        transform: scale(.9);
        margin: 0 -1.8em
    }

    #home-offer-menu li:hover {
        -webkit-transform: scale(.87);
        transform: scale(.87)
    }

    .accordion li,.accordion p {
        font-size: 1em;
        color: #8ac9ff;
        line-height: 1.6
    }

    #naprawa-komputerow,#naprawa-komputerow2,#naprawa-komputerow3,#naprawa-komputerow4,#naprawa-komputerow5,#naprawa-komputerow6,#naprawa-komputerow7,#naprawa-komputerow8,#naprawa-komputerow9,#naprawa-laptopow,#naprawa-laptopow2,#naprawa-laptopow3,#naprawa-laptopow4,#naprawa-laptopow5,#naprawa-laptopow6,#naprawa-laptopow7,#naprawa-laptopow8,#naprawa-laptopow9 {
        margin: 20px 0 0
    }

    body .accordion .sky-yellow {
        color: #fff200
    }

    #serwis,.serwis2 {
        margin: 20px 0
    }

    .accordion h4 {
        color: #fff;
        margin: 10px 0
    }

    .accordion {
        display: block;
        list-style: none;
        padding: 0;
        width: 90%;
        margin: 0 auto 60px;
        position: relative;
        top: 40px
    }

    .accordion .inner {
        padding-left: 1em;
        overflow: hidden;
        display: none
    }

    .accordion .inner.show {
        margin-bottom: 15px
    }

    .accordion li {
        margin: .5em 0
    }

    .accordion li a.toggle {
        width: 100%;
        display: block;
        background: url(../images/footer-bg.png) 50% 0 no-repeat;
        color: #fefefe;
        padding: .75em;
        border-radius: .15em;
        -webkit-transition: background .3s ease;
        transition: background .3s ease
    }

    .accordion li a.toggle:hover {
        background: url(../images/footer-bg.png) 40% 0 no-repeat
    }
}

@media only screen and (max-width: 768px) {
    #slider {
        width:100%;
        -webkit-transform: scale(.95);
        transform: scale(.95);
        min-width: 100%
    }

    #top-menu a {
        min-width: 70px
    }

    #top-menu li:first-of-type.active:before {
        left: -10%
    }

    #top-menu li.active:before {
        width: 110px;
        height: 110px;
        left: -20%
    }

    #categories ul {
        width: 465px;
        margin: 0 auto 40px
    }

    .folding-box {
        top: 56%
    }

    #categories li:nth-child(4) {
        right: -50px
    }

    #newcontact {
        right: 2%
    }

    #rezerwacja-left {
        margin-right: auto!important;
        width: 100%;
        margin: 0 auto
    }

    #contact-data {
        padding-bottom: 650px;
        margin-top: 50px!important
    }

    #home-offer-menu li {
        -webkit-transform: scale(.9);
        transform: scale(.9);
        margin: 0 -1.8em
    }

    #categories li:first-child {
        right: 10px
    }

    #categories li {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }

    #home-offer-menu li:hover {
        -webkit-transform: scale(.87);
        transform: scale(.87)
    }

    #new-formularz {
        top: 770px;
        left: 0;
        right: 0!important;
        margin: 0 auto;
        position: relative
    }
}

@media only screen and (max-width: 710px) {
    #rezerwacja-left {
        left:-15%
    }

    #formularz-right {
        left: -10%;
        position: relative
    }
}

@media only screen and (max-width: 950px) {
    #header,.grupe-it {
        display:-webkit-box;
        display: -ms-flexbox
    }

    #newcontact,.sky-blog-button {
        width: 320px
    }

    #logo,#rezerwacja-left {
        left: 0
    }

    #formleft,#formleft2 {
        margin-top: -60px;
        margin-left: 0
    }

    #contactform2 input:not([type=submit]),#contactform2 textarea,#new-formularz,#newcontact {
        margin: 0 auto
    }

    #formleft input,#header,#newcontact {
        position: relative
    }

    #categories ul,#header,#submenu ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal
    }

    #contactform,#contactform2 {
        padding-top: 3em;
        text-align: center
    }

    #header {
        width: 100%;
        height: 220px;
        background: url(./images/header-bg.png) no-repeat;
        background-size: cover;
        text-align: center;
        margin-bottom: 0;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-direction: column;
        flex-direction: column
    }

    #logo {
		outline: none;
        margin-left: 0;
        display: block;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -ms-transition: all .4s;
        -o-transition: all .4s;
        top: -25px;
        transition: all .4s
    }

    #top-menu {
        margin-left: 0
    }

    #home-offer-menu {
        width: 370px
    }

    #home-offer-menu li {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    #map-canvas {
        margin-top: 0
    }

    #newcontact {
        background: 0 0;
        height: 310px;
        right: 0;
        left: -10%;
        top: 50px;
        z-index: 5
    }

    .folding-box {
        top: 70%
    }

    #offer-details {
        margin: 60px auto 40px
    }

    #top-menu li.active:before {
        width: 100px;
        background: 0 0
    }

    #rezerwacja-header {
        background: 0 0;
        width: 100%;
        height: 369px
    }

    #rezerwacja-header h3 {
        left: 20%;
        font-size: 28px
    }

    #rezerwacja-header h2 {
        left: 20%;
        font-size: 26px
    }

    #rezerwacja-header h4 {
        left: 20%;
        font-size: 14px
    }

    #rezerwacja-main {
        margin-left: 0;
        width: 100%;
        margin-top: -150px;
        background: url(../images/rezerwacja-main.png) 20% 0
    }

    #contactform {
        width: 100%;
        display: block;
        height: 360px;
        margin: 2em auto 0
    }

    #formleft,#formright {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        vertical-align: top
    }

    .grupe-it {
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    #formleft input {
        width: 100%!important;
        margin-left: 6em;
        padding: .4em .5em;
        margin-bottom: .5em
    }

    #formleft textarea {
        width: 100%!important;
        margin-left: 105px;
        text-indent: 10px;
        height: 100px;
        resize: none;
        border: 1px solid #00101a
    }

    .dropdown {
        background: url(../images/dropdown.png);
        width: 22px;
        height: 22px;
        position: absolute;
        top: 320px!important;
        left: 94%!important
    }

    #formularz-right,#new-formularz {
        position: relative;
        left: 0
    }

    #contactform input:not([type=submit]),#contactform textarea {
        position: relative;
        font-family: Exo;
        font-weight: 500;
        color: #55d2fd;
        font-size: 1.1em;
        display: block;
        background: rgba(13,49,85,.1);
        border: none;
        -webkit-box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
        box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
        margin: 0 auto
    }

    #formleft input:first-of-type {
        margin-top: 4em!important
    }

    #new-formularz h3 {
        font-weight: 700;
        position: absolute;
        top: 130px;
        color: #fff200;
        font-size: 18px;
        left: 0;
        right: 0
    }

    #formleft2 textarea {
        width: 100%;
        text-indent: 8px
    }

    #formleft2 input[type=submit] {
        left: 0!important;
        margin-left: 0;
        width: 100%
    }

    body #formleft2 input:first-of-type {
        margin-top: 4em
    }

    #new-formularz {
        top: 770px;
        right: 0!important;
        width: 100%;
        background: url(../images/new-formularz.png) 90% 0
    }

    #formleft2 input:nth-child(1),#formleft2 input:nth-child(2),#formleft2 input:nth-child(3) {
        width: 100%!important;
        border: none!important
    }

    #categories li:nth-child(4) {
        right: 0
    }

    #categories ul {
        width: 100%;
        margin: 0 auto 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-direction: column;
        flex-direction: column
    }

    #categories li {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }

    #submenu ul {
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 15%;
        margin-top: 10%
    }

    #categories li:first-child {
        -webkit-transform: scale(.6);
        transform: scale(.6)
    }

    #submenu li {
        padding: 2em 1.6em 0 4em
    }

    #submenu li a {
        text-align: center
    }

    #submenu li:last-child {
        padding-left: 5em
    }

    #contactform2 {
        display: block;
        height: 360px;
        margin-top: 2em;
        width: 100%
    }

    .contactform2 {
        position: absolute;
        top: 120px!important;
        left: 0!important
    }

    #formleft2,#formright {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        vertical-align: top
    }

    #formleft select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(../images/br_down.png) 100px center no-repeat;
        font-size: 14px;
        font-family: Exo;
        padding: 5px;
        width: 130px;
        color: #a3d2ff;
        border-radius: 5px;
        border: 2px solid #002238;
        margin-left: 0!important
    }

    #formleft small {
        color: #9fbfff;
        position: relative;
        top: 0;
        left: 0;
        text-indent: 10px
    }

    #formleft input[type=submit] {
        top: 710px;
        left: 0;
        margin-left: 0
    }

    #formleft input[type=submit]:hover {
        color: #ff0!important;
        font-family: Exo;
        font-size: 12px;
        position: absolute;
        top: 710px
    }
}

@media only screen and (max-width: 480px) {
    #top-menu a {
        font-size:14px;
        min-width: 60px
    }

    #home-offer-menu {
        width: 320px
    }

    .box-content-wrapper {
        width: 80%
    }

    #top-menu {
        -webkit-transform: scale(.95);
        transform: scale(.95)
    }
}

@media only screen and (max-width: 340px) {
    #footer p,#home-offer-menu,.sky-blog-button,.sky-contact-text {
        width:300px
    }

    #top-menu {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }

    #top-menu ul {
        -webkit-transform: scale(.95);
        transform: scale(.95)
    }
}
